body {
  margin: 0;
  padding: 0; 
  background-image: url('images/Map_Berlin.png'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  background-color: #000; 
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; /* Adjust the font weight as needed */
}
#navbar-placeholder {
  height: 50px; 
  background-color: #333; 
  color: #ffffff;
}

.contact-info {
  background-color: #000000;
  color: #868686;
  padding: 20px;
  position: absolute;
  bottom: 100px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
   font-family: 'Raleway', sans-serif;
}

.contact-info .text {
  text-align: right;
}

.contact-me {
  position: absolute;
  bottom: 250px; 
  right: 5px;
  background-color: rgba(255, 254, 254, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.contact-info .social-icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end; 
}

.social-icons a {
  color: #868686;
  font-size: 24px;
}
.form-container {
  padding: 20px;
  border-radius: 10px; 
  z-index: 1000;
  max-width: 400px; 
  margin: 20px auto;
  background-color: #000000; 
  color: #ffffff; 
  position: absolute;
  top: 100px; 
  left: 30px;
   font-family: 'Raleway', sans-serif;
}
.form-container h2 {
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff; 
  border-radius: 5px; 
  background-color: #000000; 
  color: #333; 
   font-family: 'Raleway', sans-serif;
}
.form-container input[type="submit"] {
  background-color: #333; 
  color: #ffffff; 
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px; 
   font-family: 'Raleway', sans-serif;
}
.form-container input[type="submit"]:hover {
  background-color: #555; 
   font-family: 'Raleway', sans-serif;
}
#footer-placeholder {
  height: 100px; 
  background-color: #000000;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.impressum-container {
  margin-bottom: 20px; 
}
.impressum-container p {
  margin: 5px 0; 
  line-height: 1;
}

.footer {
  background-color: #000000; 
  color: #868686;
  padding: 10px 0;
}
.copyright p {
  margin: 3px 0;
   font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse; 
  }

  .form-container {
    position: static;
    margin: 20px auto;
    top: auto;
    left: auto;
    width: 90%; 
    max-width: 90%; 
  }

  .contact-me {
    position: static;
    text-align: center;
    margin: 20px auto;
    bottom: auto;
    right: auto;
  }

  .contact-info {
    position: static;
    margin: 20px auto;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .contact-info .text {
    position: static;
    text-align: center;
  }

  .contact-info .social-icons {
    justify-content: center; 
  }

  #footer-placeholder {
    position: static;
    margin: 20px 0;
  }
}
