#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}


#fs-frm {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  #fs-frm input[type="text"],
  #fs-frm input[type="email"],
  #fs-frm textarea,
  #fs-frm select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  #fs-frm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  #fs-frm input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #fs-frm label {
    font-weight: bold;
  }
  
  #fs-frm ::placeholder {
    color: #999;
  }
  
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    border-color: #4CAF50;
  }

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}


#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}


  .contact-banner {
    background-color: rgba(255, 255, 255, 0.7); /* Greyish opaque background */
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
    margin-top: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
  }
  
  .contact-banner h2 {
    margin: 0;
  }
  
  .impressum-container {
    margin-bottom: 20px; 
  }
  .impressum-container p {
    margin: 5px 0;
    line-height: 1;
  }
  .footer {
    background-color: #f0f0f0; 
    color: #000000; 
    padding: 10px 0; 
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .copyright p {
    margin: 3px 0; 
  }

