body{
  background-color: #000000 !important;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; 
}
.work-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.work-item {
  position: relative;
  text-align: center;
  color: #919191;
}

.work-item#section1 h2 {
  color: #bcbcbc;
}

.work-item#section1 h4 {
  color: #bcbcbc;
}
.smaller-container {
  display: flex;
  width: 100%;
}


.smaller-container .work-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #919191;
}


.smaller-container .work-item .content {
  box-sizing: border-box;
}


.content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  box-sizing: border-box;
}

.content h2 {
  margin-top: 5px;
}

.content p {
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Raleway', sans-serif;
}

.content .smaller p{
  font-size: 16pt;
}

.impressum-container {
  margin-bottom: 20px;
}

.impressum-container p {
  margin: 5px 0; 
  line-height: 1;
  font-family: 'Raleway', sans-serif;
}

.footer {
  background-color: #000000; 
  color: #868686; 
  padding: 10px 0; 
}

.copyright p {
  margin: 3px 0;
  font-family: 'Raleway', sans-serif;
}

#back-to-top-btn {
  z-index: 1000;
  display: none; 
  justify-content: center; 
  align-items: center; 
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 38px; 
  height: 38px; 
  padding: 10px;
  background-color: #515151; 
  color: #000000; 
  border-radius: 50%; 
  text-decoration: none;
}

#back-to-top-btn:hover {
  background-color: #8f8f8fe3; 
  color: #000000;
}

#back-to-top-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 20px;
}

.work-item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.work-item .content button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff00;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 150px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.work-item .content .download {
  position: relative; 
  top: auto; 
  transform: none; 
  background-color: #515151; 
  height: fit-content;
  width: fit-content;
  border: none;
  color: rgb(0, 0, 0); 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
}

.work-item .content .download:hover {
  background-color: #8f8f8fe3; 
}
#section2 .content {
  display: grid;
  place-items: center; 
  gap: 10px;
}

.gallery {
  display: flex;
  justify-content:center;
}

.gallery-item {
  width: 50%; 
  height: 50%; 
  cursor: pointer;
  transition: transform 0.3s;
  padding: 10px;
  display: inline-block;
}

.gallery-item img{
  max-width: 300px;
}

.gallery-item:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1300px) {
  .gallery {
    display: block; 
    margin: 10px auto;
  }
  .gallery-item {
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .gallery-item {
    width: 100%; 
    max-width: none; 
  }
  .content{
    padding: 1px;
  }
}

.back-button {
  position: relative;
  top: 72px; 
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  z-index: 1000; 
  padding: 10px 20px;
  background-color: #515151; 
  color: #000000; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.back-button:hover {
  background-color: #8f8f8fe3;
}

.social-icons a {
  color: #868686; 
  font-size: 24px; 
  margin-left: 10px;
  position: relative;
  z-index: 2;
}

