/* General Styles */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin: 0;
  }
  
  p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400; /* Adjust the font weight as needed */
  }
  
/* Hero Section */
.hero {
    position: relative;
    background: url('images/Map_Berlin.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* Icon Section */
.icon-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #000000;
}

.icon {
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Content Sections */
.content-section {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 50px 20px;
}

.content-image {
    flex: 1;
}

.content-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.content-text {
    flex: 1;
    padding: 20px;
    color: #fff;
}

.content-image.left {
    order: 1;
}

.content-text.right {
    order: 2;
}

.content-image.right {
    order: 2;
}

.content-text.left {
    order: 1;
}


#back-to-top-btn {
    display: none; /* Initially hide the button */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 38px; /* Equal width and height for a perfectly round button */
    height: 38px; /* Equal width and height for a perfectly round button */
    padding: 10px;
    background-color: #515151; 
    color: #000000; /* Button text color */
    border-radius: 50%; /* Make it circular */
    text-decoration: none;
    z-index: 1000;
  }
  
  #back-to-top-btn:hover {
    background-color: #8f8f8fe3; 
    color: #000000;
  }
  #back-to-top-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the icon horizontally and vertically */
    font-size: 20px;
  }

.impressum-container {
    margin-bottom: 20px; /* Add some space between the impressum and copyright */
  }
  .impressum-container p {
    margin: 5px 0; /* Adjust the margin to reduce space between lines */
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; /* Adjust the font weight as needed */
  }
  
  .footer {
    background-color: #000000; /* Change to your desired color */
    color: #ffffff; /* Change to your desired text color */
    padding: 10px 0; /* Add padding to the top and bottom */
  }
  .copyright p {
    margin: 3px 0; /* Remove default margin */
    font-family: 'Raleway', sans-serif;
    font-weight: 400; /* Adjust the font weight as needed */
  }
  /* Media Query for Small Screens */
  @media (max-width: 768px) {
      .content-section {
          flex-direction: column;
      }
  
      .content-image,
      .content-text {
          flex: unset; /* Reset the flex value */
          width: 100%; /* Make them take full width */
      }
  
      .content-section .content-image {
          order: 1; /* Ensure images come first */
      }
  
      .content-section .content-text {
          order: 2; /* Ensure text comes second */
      }
  
      .content-image img {
          margin-bottom: 20px; /* Add some space between the image and text */
      }
  }

  .portfolio-button {
    position: relative;
    top: 5px; /* Adjust top position as needed */
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    z-index: 1000; /* Ensure it's above other content */
    padding: 10px 20px;
    background-color: #515151; /* Example button color */
    color: #cacaca; /* Example button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  
  .portfolio-button:hover {
    background-color: #8f8f8fe3; /* Example hover color */
  }